<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loan Application</title>
    <link rel="shortcut icon" href="../assets/favicon-16x16.png" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <main id="app">
        <div class="sidebar" >
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bxs-bank'></i>
                    <div class="logo_name"> Brothers Bank</div>
                </div>
                <i class='bx bx-menu toggleActive' @click="toggle" id="btn"></i>
            </div>
            <ul>
                <li>
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <li>
                    <a href="./index.html">
                        <i class='bx bxs-home'></i>
                        <span class="links_name">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-user'></i>
                        <span class="links_name">User</span>
                    </a>
                </li>
                <li>
                    <a href="./accounts.html">
                        <i class='bx bxs-user-account'></i>
                        <span class="links_name">Accounts</span>
                    </a>
                </li>
                <li>
                    <a href="./cards.html">
                        <i class='bx bxs-credit-card'></i>
                        <span class="links_name">Cards</span>
                    </a>
                </li>
                <li>
                    <a href="./transfer.html">
                        <i class='bx bx-transfer'></i>
                        <span class="links_name">Transfer</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-money'></i>
                        <span class="links_name">Loans</span>
                    </a>
                </li>
            </ul>
            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="../assets/melbamorel.jpeg" alt="melbamorel">
                        <div class="name_job">
                            <div class="name">Melba Morel</div>
                            <div class="job">Software Engineer</div>
                        </div>
                    </div>
                    <i class='bx bx-log-out' id="log_out" @click="logOut"></i>
                </div>
            </div>
        </div>
        <div class="home_content">
            <div class="text d-flex justify-content-evenly align-items-center pb-1">
                <span><i class='bx bxs-map-pin'></i> A108 Adam Street, NY, US </span>
                <span><i class='bx bxs-phone'></i> +1 5589 55488 55</span>
                <span><i class='bx bxs-envelope'></i> brothersbank@gmail.com</span>
            </div>
            <div>
                <div class="topHeader animate__animated animate__backInLeft">
                    <img src="" alt="">
                    <h2 class="text-center fw-bolder">Apply a loan!</h2>
                    <p class="text-center fw-bolder"></p>
                </div>

                <div class="container pt-4">
                    <div class="row justify-content-center">
                        <div class="model">
                            <div class="room">
                                <div class="text-cover">
                                </div>
                            </div>
                            <div class="payment">
                                <div class="receipt-box">
                                    <h3 class="text-center">Loan Application</h3>

                                    <h5 class="pt-2">Loan Name:</h5>
                                    <select class="mt-3" v-model="loanId">
                                        <option v-for="loan in loans" :value="loan.id">{{loan.name}}</option>
                                    </select>
                                    <div>
                                        <h5 class="pt-2">Payments:</h5>
                                        <select class="mt-3" v-if="loanId" v-model="loanPays">
                                            <option v-for="payment in loans.filter(l=>l.id == loanId)[0].payments"
                                                :value="payment">
                                                {{payment}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <h5 class="pt-2">Amount:</h5>
                                            <input class="mt-3" v-model="amount" type="number" placeholder="$$$$">
                                        </div>
                                        <div>
                                            <h5 class="pt-2">Destiny Account:</h5>
                                            <select v-model="accountDestiny" class="form-select form-select-lg mb-3 mt-3"
                                            aria-label=".form-select-lg example">
                                            <option v-for="account in accounts" :value="account.number">{{account.number}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mt-3" v-show="loanPays != 0">
                                        <h3>Total to pay: ${{amount * 1.20}}</h3>
                                        <h3>u/payments: ${{(amount * 1.20) / loanPays}}</h3>
                                    </div>
                                    <button class="btn btn-primary" @click="loanPetition">Loan Petition</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-center">
    
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>Brothers Bank</h3>
                            <p>
                                A108 Adam Street <br>
                                NY 535022, USA<br><br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>                             
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./loan-application.js"></script>

</body>

</html>